<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/header_and_background.css' %}">
    <link rel="stylesheet" href="{% static 'users/user_auths.css' %}">
</head>
<body>
    <header>
        <div class="box">
            <h3 class="header-title">Take notes</h3>
            <a href="/users/signin/">
                <button class="round-box cursor-pointer button">
                    Sign In
                </button>
            </a>
        </div>
    </header>
    <form id="login_form" action="/users/signup/" method="post">
        <div>
            Sign Up
        </div>
        {% csrf_token %}
        <div class="login_form_field">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        <div class="login_form_field">
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </div>
        <div class="login_form_field">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <input class="round-box cursor-pointer button" type="submit" value="Sign Up">
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(() => {
            $('#login_form').submit(() => {
                let fields = $('#login_form>.login_form_field');
                let username = $(fields[0]).find("input")[0];
                let password = $(fields[1]).find("input")[0];
                let confirmPassword = $(fields[2]).find("input")[0];
                
                if (username.value == '') {
                    return false;
                }
                if (password.value != confirmPassword.value) {
                    return false;
                }
            });
        });
    </script>
</body>
</html>